<style>
  body {
    background: <%= @color %>;
  }
</style>


<h1>About me</h1>
<p>Lots of interesting stuffs.</p>
<p>My favorite color is <%= @color %></p>
<p>My shoe size is <%= @size %></p>

<% if @size > 12 %>
	<p>I have really big feet</p>
<% end %>

<%= link_to "Blue", {controller: "welcome", action: "about", color: "blue"}, class: "btn btn-primary" %>

<%= link_to "Red", {controller: "welcome", action: "about", color: "red"}, class: "btn btn-danger" %>
